
:root {
    --mainColor: white;
    --secColor: #2CA9BC;
    --accColor: #32C4DA;

    --fontColor: white;
}


nav {
    font-family: Inknut Antiqua;;
}

.bg-prim {
    background-color: var(--mainColor);
}

.bg-sec {
    background-color: var(--secColor);
}

.bg-acc {
    background-color: var(--accColor);
}

.mainFontColor {
    color: var(--fontColor);
}