:root {
  --mainColor: white;
  --secColor: #2ca9bc;
  --accColor: #32c4da;
  --fontColor: white;
}

body {
  background-color: var(--secColor);
}

nav {
  font-family: Inknut Antiqua;
}

.bg-prim {
  background-color: var(--mainColor);
}

.bg-sec {
  background-color: var(--secColor);
}

.bg-acc {
  background-color: var(--accColor);
}

.mainFontColor {
  color: var(--fontColor);
}

.kingFont {
  font-family: "Inknut Antiqua";
}

.bg-image {
  background-image: url("../media/background.png");
  height: 30em;
}

.bg-image > div,
.bg-image > img {
  opacity: 1;
}

.mietenButton {
  background: linear-gradient(270deg, #42daf1 0.52%, #2ca9bc 100%);
}
